body {
    font-family: "Open Sans", sans-serif;
    margin: 20px;
    background-color: lightgrey;
}
.header {
    background-color: yellow;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: yellow;
}
#display_user {
    float: right;
    text-align: right;
    padding: 20px;
  }
  .header {
    background-color: #F7DC6F;
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-height: 100px;

}