body {
    font-family: "Open Sans", sans-serif;
    margin: 20px;
    background-color: lightgrey;
}

.header {
    background-color: #333;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #333;
}
#display_user {
    float: right;
    text-align: right;
    padding: 20px;
  }
  .header {
    background-color: #F7DC6F;
    display: flex;
    justify-content: space-between;
    text-align: right;
    max-height: 100px;

}
.button {
    background-color: #800080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
  }
#today_date {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}