body {
    background-color: lightgray;
    margin: 0px;
    font-family: "Open Sans", sans-serif;

}
.header {
    background-color: yellow;
    display: flex;
    justify-content: center;
    text-align: center;

}
.categories ul {
    list-style-type: none; /* Usunięcie kropek */
    margin: 0; /* Zerowy margines */
    padding: 0; /* Zerowe wcięcie */
    display: flex;
    justify-content: space-around;
    overflow: hidden; /* Ukrycie przepełnienia */
    background-color: #FF0000; /* Kolor tła */
    width: 80%;
}
.basic_categories {
    width: 100%;
    display: inline-block;
}



.categories ul li {
    display: inline-block; /* Wyświetlanie elementów w jednym wierszu */
    margin-right: 20px; /* Odstępy między elementami */
}

.categories ul li a {
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyśrodkowanie tekstu */
    padding: 14px 16px; /* Wewnętrzne wcięcie */
    text-decoration: none; /* Usunięcie podkreślenia */
    display: block; /* Sprawienie, aby cały obszar linku był klikalny */
}
.footer {
    background-color: yellow;
    display: flex;
    justify-content: center;
    text-align: center;
}
