<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz użytkownika</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='dodaj_zgloszenie.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu_style.css') }}">
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header class = "header">
        <h2>Factory Task Manager [FTM]</h2>
        <section id="display_user">
            {% if session.email %}
                <p>{{ session.email }} (User ID: {{ session.user_id }})</p>
            {% endif %}
        </section>
        <div id='zegar'></div>
    </header>


    <section class = "basic_categories">
        <div class="topnav">
            <a href="{{ url_for('menu') }}">Strona główna</a>
            <a href="/urzadzenia2">Urządzenia</a>
            <a href="/przeglady">Przeglady</a>
            <a class="active" href="/dodaj-zgloszenie" title="Wprowadź nowe zgłoszenie">Dodaj zgłoszenie</a>
            <a href="/zgloszenia" title="Lista zgłoszeń">Zgloszenia</a>
            <a href="/raport" title="Raport">Raport</a>
            <a href="/statystyka" title="Statystyka">Statyskyka</a>
            <a href="/kontakt" title="Kontakt">Kontakt</a>
            <nav id = "logowanie">
                {% if session.email %}
                    <a href="{{ url_for('wylogowanie') }}">Wyloguj się</a>
                {% else %}
                    <a href="/panel-logowania" title="Logowanie">Logowanie</a>
                {% endif %}
            </nav>
            <nav class="admin">
                {% if session['user_level'] == '5'%}
                    <a href="{{ url_for('rejestracja') }}">Dodaj użytkownika</a>
                {% endif %}
            </nav>
        </div>
    </section>

    
    <form action="/dodaj-zgloszenie" method="post" enctype="multipart/form-data">
        <label for="user">Uzytkownik:</label><br>
        <input type="text" id="user" name="user" value="{{ session['name'] + ' ' + session['lastname'] }}" readonly><br><br>

        <label for="department">Dzial:</label>
        <select id = 'department' name = "department" >
            <option value = "IM"> IM </option>
            <option value = 'MT' > MT </option>
            <option value = "TS" > TS </option>
            <option value = "QS" > QS </option>
        </select><br><br>

        <label for="machine">Maszyna:</label><br>
        <input type="number" id="machine" name="machine" required placeholder = "nr_maszyny"><br><br>

        <label for="priority_level">Priority_leavel:</label>
        <select id="priority_level" name="priority_level" required>
            <option value = "Niski"> Niski</option>
            <option value = "Sredni"> Średni</option>
            <option value = "Wysoki"> Wysoki </option>
        </select>
            <br><br>

        <label for = "reporting_date">Data zgłoszenia:</label>
        <input type = "datetime" id = "date" name = "date" required>
            <button type = "button" id='today_date' onclick = "setTodayDate()">Ustaw datę. </button><br>
                <script>
                    function setTodayDate() {
                        const now = new Date();
                        const today = now.toISOString().split('T')[0];
                        const time = now.toTimeString().split(' ')[0];
                        document.getElementById('date').value = `${today}T${time}`;
                    }
                </script>
            <br>

        <label for="message">Opisa zdarzenia:</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required placeholder = "Opisz zdarzenie"></textarea><br><br>

        <button id='przycisk_dodaj_zglosznie' class="button">Dodaj zgloszenie</button>
    </form>


    <footer class = "footer">
        Autor: P.B
    </footer>

    <script src="{{ url_for('static', filename='zegar.js') }}"></script>
</body>
</html>