<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="vievport" content="width=device-width, initial-scale=1.0">
        <title>Logowanie</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel = "stylesheet" href = "../static/logowanie.css">
    </head>
    <body>
        <header>
            <h2>Logowanie</h2>
        </header>

        <form action ="/logowanie" method="GET" enctype="multipart/form-data">
            <div>
                <label for = "email">Email</label>
                <input type = "email" id = "email" name = "email" required placeholder="email">
            </div>
            <div>
                <label for = "password">Hasło</label>
                <input type = "password" id="password" name="password" required placeholder="hasło">
            </div>
            <br>
            <button type = "submit">Zaloguj sie</button>
        </form>
    </body>
</html>