<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Strona główna{% endblock %}</title>
    <link rel="stylesheet" href="../static/dodaj_zgloszenie.css">
    <link rel="stylesheet" href="../static/menu_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu_style.css') }}">
    {% block extra_css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">
        <h2>Factory Task Manager [FTM]</h2>
        <section id="display_user">
            {% if session.email %}
                <p>{{ session.email }} (User ID: {{ session.user_id }})</p>
            {% endif %}
        </section>
        <div id='zegar'></div>
    </header> 

    <section class="basic_categories">
        <div class="topnav">
            <a href="{{ url_for('menu') }}" class="{% if active_page == 'menu' %}active{% endif %}">Strona główna</a>
            <a href="/urzadzenia2" class="{% if active_page == 'urzadzenia' %}active{% endif %}" title='Urzadzenia'>Urządzenia</a>
            <a href="/przeglady" class="{% if active_page == 'przeglady' %}active{% endif %}" title='Przeglady'>Przeglady</a>
            <a href="/dodaj-zgloszenie" class="{% if active_page == 'dodaj-zgloszenie' %}active{% endif %}" title="Wprowadź nowe zgłoszenie">Dodaj zgłoszenie</a>
            <a href="/zgloszenia" class="{% if active_page == 'zgloszenia' %}active{% endif %}" title="Lista zgłoszeń">Zgloszenia</a>
            <a href="/raport" class="{% if active_page == 'raport' %}active{% endif %}" title="Raport">Raport</a>
            <a href="/statystyka" class="{% if active_page == 'statystyka' %}active{% endif %}" title="Statystyka">Statystyka</a>
            <a href="/kontakt" class="{% if active_page == 'kontakt' %}active{% endif %}" title="Kontakt">Kontakt</a>

            <nav id="logowanie">
                {% if session.email %}
                    <a href="{{ url_for('wylogowanie') }}">Wyloguj się</a>
                {% else %}
                    <a href="/panel-logowania" title="Logowanie">Logowanie</a>
                {% endif %}
            </nav>
            <nav class="admin">
            {% if session['user_level'] == '5'%}
                <a href="{{ url_for('rejestracja') }}">Dodaj użytkownika</a>
            {% endif %}
        </nav>
        </div>
    </section>

    {% block content %} 
    {% endblock content %}
    <footer class="footer">Autor: P.B</footer>
    <script src="{{ url_for('static', filename='zegar.js') }}"></script>

</body>
</html>