<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" href="../static/menu_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>

<body>
    <header class = "header">
        <h2>Factory Task Manager FTM</h2>
    </header>
    <section class = "basic_categories">
        <nav class = "categories">
            <ul>
                <li><a href="/dodaj-zgloszenie" title="Wprowadź nowe zgłoszenie">Dodaj zgłoszenie</a></li>
                <li><a href="/zgloszenia" title="Lista zgłoszeń">Zgloszenia</a></li>
                <li><a href="/raport" title="Raport">Raport</a></li>
                <li><a href="/statystyka" title="Statystyka">Statyskyka</a></li> <!-- Dodano zamknięcie cudzysłowu -->
                <li><a href="/kontakt" title="Kontakt">Kontakt</a></li>
                <li><a href="/panel-logowania" title="Logowanie">Logowanie</a></li>
            </ul>
        </nav>


    </section>

    <nav>
        <h2>About us:</h2>
        <p>FTM jest to program majacy na celu ulatwic organizacje pracy w zakladach produkcyjnych.
            Program ten jest glownie dedykowany do dzialow utrzymania ruchu. 
        </p><br>
    </nav>

    

    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2024 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
    

</body>  

</html>
