<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale-1.0">
    <title>Rejestracja</title>

</head>
<body>
    <h1>Rejestracja</h1>

    <form action = "/rejsetracja" method = "POST" enctype = "multipart/form">
        <p>Imie i Nazwisko</p>
            <label for = "name">Imie</label>
            <input type = "text" id = "name" name = "name" required>

            <label for = "lastname">Nazwisko</label>
            <input type = "text" id = "lastname" name = "lastname" required>
        <br><br>
        <p>E-mail</p>
            <label for 

    </form>

</body>
</html>