<!DOCTYPE>
<html lang = "pl">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Zarejestrowano</title>


    </head>
    <body>
        <header>
            <h2>Zarejestrowano pomyslnie</h2>
            <h3>Witaj</h3>
        </header>
        <p><strong> Imie: </strong>{{new_user.name}}</p>
        <p><strong> Nazwisko: </strong>{{new_user.lastname}}</p>
        <p><strong> Email: </strong>{{new_user.email}}</p>
    </body>

</html>